<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard', jsFile: 'index.js' }) %>
	</head>
	<body class="flex justify-center p-8 bg-gray-50">
		<div class="max-w-4xl w-full p-8">
            <%- include(`${root}/views/partials/navbar`, { addLink: true, username: username }) %>
            <div class="grid gap-4 grid-cols-2">
                <%- include(`${root}/views/partials/shoppingList`, { listId: 'socketTemplate', listName: 'socketTemplate', entries: [{food: ''}], template: true}) %>
                <% if (typeof lists !== 'undefined') { %>
                    <% for (const {listId, listName, entries} of lists) { %>
                        <%- include(`${root}/views/partials/shoppingList`, { listId: listId, listName: listName, entries: entries}) %>
                    <% } %>
                <% } %>
            </div>
        </div>
	</body>
</html>