<div class="md:flex md:items-center md:justify-between mb-16">
	<div class="min-w-0 flex-1">
		<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
			Shopping Lists
		</h2>
	</div>
	<div class="mt-4 flex md:mt-0 md:ml-4 space-x-4">
        <%- typeof addLink !== 'undefined' ? include(`${root}/views/partials/link`, { link: '/addList',
		text: 'Add' }) : null %>

        <%- include(`${root}/views/partials/link`, { link: '#', text: 'Logout', color: 'bg-red-500 hover:bg-red-600 text-white' }) %>
	</div>
</div>
