<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard', cssFile: 'index.css', jsFile: 'index.js' }) %>
  
    
  </head>
  <body class="flex justify-center p-8 bg-gray-50">
    <div class="max-w-4xl w-full p-8">
      
      <%- include('./partials/navbar',{addLink:true}) %>
      <% if (typeof lists !== 'undefined') { %>
        <% for (const list of lists) { %>
          
          <% for (const [listId, entries] of Object.entries(list)) { %>
              <%- include(`${root}/views/partials/shoppingList`, { listId: listId, entries: entries}) %>
          <% } %>
      <% } %>
    <% } %>
       
      </div>
    </div>
  </body>
</html>
