<a
    href="<%= link %>"
    class="inline-flex items-center rounded-md border border-gray-30 px-4 py-2 text-sm font-medium shadow-sm
        <%= typeof color !== 'undefined' ? color : 'bg-white hover:bg-gray-50 text-gray-700' %> focus:outline-none"
    id="<%= text %>"
>
    <%= text %>
</a>