<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard', jsFile: 'index.js' }) %>
	</head>
	<body class="flex justify-center p-8 bg-gray-50">
		<div class="max-w-4xl w-full p-8">
            <%- include(`${root}/views/partials/navbar`, { addLink: true }) %>
            <div class="grid gap-4 grid-cols-2">
                <% if (typeof lists !== 'undefined') { %>
                    <% for (const list of lists) { %>
                        <% for (const [listId, entries] of Object.entries(list)) { %>
                            <%- include(`${root}/views/partials/shoppingList`, { listId: listId, entries: entries}) %>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
	</body>
</html>
