<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard', jsFile: 'index.js' }) %>
	</head>
	<body class="flex justify-center p-8 bg-gray-50">
		<div class="max-w-4xl w-full p-8">
			<%- include(`${root}/views/partials/navbar`, { addLink: true }) %>
            <% if (typeof list !== 'undefined') { %>
                <%- include(`${root}/views/partials/shoppingList`, { list: list}) %>
            <% } %>
		</div>
	</body>
</html>
