<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Add list', jsFile: 'addList.js' }) %>
    </head>
    <body class="flex justify-center p-8 bg-gray-50">
        <div class="max-w-4xl w-full rounded-lg shadow-lg p-8 h-min">
            <%- include(`${root}/views/partials/navbar`, { username: username }) %>

            <div class="space-y-4">
                <h3 class="text-2xl text-center text-slate-600">Create a new shopping list</h3>
                    <form class="space-y-4">
                        <div class="-m-0.5 rounded-lg p-0.5">
                            <div>
                                <input name="listName" placeholder="List name" type="text" required>
                            </div>
                        </div>

                        <div class="-m-0.5 rounded-lg p-0.5">
                            <div>
                                <textarea
                                    rows="5"
                                    name="list"
                                    id="list"
                                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                    placeholder="list items separated by commas. For example: Cheese, Bread, Water, ..."
                                    required
                                ></textarea>
                            </div>
                        </div>

                    <div class="-m-0.5 rounded-lg p-0.5">
                        <div>
                            <input name="shareWith" type="text" placeholder="Share with...">
                        </div>
                    </div>

                    <div class="flex justify-end">
                        <div class="flex flex-row space-x-4">
                            <%- include( `${root}/views/partials/link`, { link: '/', text: 'Cancel' }) %>
                            <button
                                type="submit"
                                class="inline-flex items-center rounded-md border border-gray-30 px-4 py-2 text-sm font-medium shadow-sm  bg-indigo-600 hover:bg-indigo-700 text-white focus:outline-none"
                            >Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>